<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="anchor.mybatis.mapper.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="anchor.mybatis.entity.Customer">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
        <result column="mail" property="mail"/>
        <result column="province" property="province"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, age, gender, mail, province, create_time, update_time
    </sql>

    <select id="findLikeName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from customer
        <if test="name != null and name !=''">
            where name like concat ('%', #{name} ,'%')
        </if>
    </select>

    <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into customer
        (name, age, gender, mail, province)
        value
        <foreach collection="list" item="item" separator=",">
            (#{item.name}, #{item.age}, #{item.gender}, #{item.mail}, #{item.province})
        </foreach>
    </insert>

    <select id="listByQuery" resultType="anchor.mybatis.entity.Customer">
        select
        <include refid="Base_Column_List"/>
        from customer
        where age &gt;= #{startAge} and age &lt;= #{endAge} and gender = #{customerGender}
        and province in
        <foreach collection="provinces" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        order by name
    </select>

    <select id="findByTime" resultType="anchor.mybatis.entity.Customer">
        select
        <include refid="Base_Column_List"/>
        from customer
        where gender = #{gender}
        <if test="startTime != null">
            and update_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and update_time &lt;= #{endTime}
        </if>
    </select>

    <update id="update">
        update customer set name = 
        case
            when name = 'Jhonny' then 'aa'
            when name = 'Andy' then 'bb'
            else 'cc'
            end
        where gender = 1;
    </update>

</mapper>
